body {
    font-family: monospace;
}

.input-inline {
    display: inline-block;
    width: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

section.message {
    background: bisque;
    border: 1px solid darksalmon;
    border-radius: 15px;
    padding: 15px;
    margin: 20px 0;
}