<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content='IE=edge;chrome=1'>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Support Dashbot</title>
  <link rel=stylesheet href="/static/css/marx.min.css">
  <link rel=stylesheet href="/static/css/additionals.css">
</head>
<body>
<nav>
  <ul>
    <li><a href="https://github.com/benjaoming/support-dashbot" class=brand>Dashbot </a></li>
    <li class=mehactive><a href="/">STATS 📊</a></li>
    <li><a href="/todo/">TODO 🏃</a></li>
    <li><a href="/forecast/">FORECAST 🌦️</a></li>
    <li><a href="/bot/">BOT 🤖️</a></li>
    <li><a href="/admin">ADMIN 🔒</a></li>
  </ul>
</nav>
<main>

  <section class="message">This is a prototype 💡
    <ul>
      <li>Everything is just an idea.</li>
      <li>Click around on each page to see its intent.</li>
      <li>Numbers, terms and figures are imaginative and subject to further discussion.</li>
      <li>GitHub App and API access has been established to understand the affordance of this, which seems very easy. Commenting (triaging) and fetching repository data <a href="https://github.com/benjaoming/support-dashbot/issues/1#issuecomment-2145245916">has been tested</a>.</li>
      <li>The source code is <a href="https://github.com/benjaoming/support-dashbot">here</a>.</li>
    </ul>
  </section>

  {% block main %}{% endblock %}
</main>
</body>
</html>