{% extends "base.html" %}

{% block main %}

<h1>Support metrics</h1>

<canvas id="support-backlog-timeseries"></canvas>

Filter by channel:
<form>
<select>
  <option>All channels</option>
  <option>GitHub</option>
  <option>Help Scout</option>
  <option>Other</option>
</select>
</form>

<h2>Totals</h2>

<ul>
  <li>Issues open: {{ issues_open.count }}</li>
  <li>Issues closed: 0</li>
  <li>Triaged, awaiting response: {{ issues_open.count }}</li>
  <li>Closed, no response: 0</li>
  <li>Access issue: 1/0</li>
  <li>Account recovery: 1/0</li>
  <li>Size limit, projects: 1/0</li>
  <li>Size limit, release files: 1/0</li>
  <li>Namesquatting: 1/0</li>
  <li>Organization accounts: 1/0</li>
  <li>Namespace (PEP 541): 1/0</li>
</ul>

<h2>This month</h2>

<ul>
  <li>Triaged, awaiting response: {{ issues_open.count }} (+0%)</li>
  <li>Closed, no response: 0 (+0%)</li>
  <li>Issues open: {{ issues_open.count }} (+0%)</li>
  <li>Issues closed: 0 (+0%)</li>
  <li>Access issue: 1/0 (+0%)</li>
  <li>Account recovery: 1/0 (+0%)</li>
  <li>Size limit, projects: 1/0 (+0%)</li>
  <li>Size limit, release files: 1/0 (+0%)</li>
  <li>Namesquatting: 1/0 (+0%)</li>
  <li>Organization accounts: 1/0 (+0%)</li>
  <li>Namespace (PEP 541): 1/0 (+0%)</li>
</ul>

<h2>Last month</h2>

<ul>
  <li>Triaged, awaiting response: {{ issues_open.count }}</li>
  <li>Closed, no response: 0</li>
  <li>Issues open: {{ issues_open.count }}</li>
  <li>Issues closed: 0</li>
  <li>Access issue: 1/0</li>
  <li>Account recovery: 1/0</li>
  <li>Size limit, projects: 1/0</li>
  <li>Size limit, release files: 1/0</li>
  <li>Namesquatting: 1/0</li>
  <li>Organization accounts: 1/0</li>
  <li>Namespace (PEP 541): 1/0</li>
</ul>


<script src="/static/js/chart.umd.min.js"></script>
<script src="/static/js/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="/static/js/chart_example.js"></script>
{% endblock %}