{% extends "base.html" %}

{% block main %}
<h1>Support TODO</h1>

<h2>Important</h2>

<h3>Latest issues...</h3>

<ul>
{% for issue in issues_open %}
  <li><a href="{{ issue.get_url }}">#{{ issue.number }}: {{ issue.title }}</a></li>

{% empty %}
  <li><em>None found 🏝️</em></li>
{% endfor %}
</ul>

<h3>Triaged, response deadline exceeded - close?</h3>

<ul>
  <li><em>None found 🏝️</em></li>
</ul>

<h3>Overdue 🚨</h3>

<ul>
  <li>Account access: ...</li>
  <li>Malware reports: ...</li>
</ul>

<h2>Less important</h2>

<h4>Triaged, awaiting response</h4>

<ul>
  <li><em>None found 🏝️</em></li>
</ul>


{% endblock %}